.HighScore{
    width: 100vw;
    align-items: center;   
}
.rows_flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:8rem;
    gap:1rem;
    border: 1px solid salmon;
}
.leader_poke{
    height:8rem
}
.Center_Pokeball{
    width: 100%;
    display: flex;
    justify-content: center;
}